@tailwind base;
@tailwind components;
@tailwind utilities;

.uppy-Dashboard-inner {
  width: auto !important;
  height: 25rem !important;
  background-color: #bdbdbd !important;
}

.uppy-Dashboard-AddFiles-title {
  color: #282524 !important;
}

@media (prefers-color-scheme: dark) {
  .uppy-Dashboard-inner {
    background-color: #333 !important;
  }
  .uppy-Dashboard-AddFiles-title {
    color: #e0e0e0 !important;
  }
}
